<nav class="navbar fixed-top cl-grey-navbar">
  <div class="container-fluid">
    <div>
      <a routerLink="/questions/{{qid}}/answer" class="navbar-brand cl-text-black cl-icon-padding">
        <i class="fas fa-angle-left"></i>
      </a>
      <a class="navbar-brand cl-text-black cl-text-bold cl-text-grey" routerLink="#">
         Edit
      </a>
    </div>
    <span (click)="UpdateAnswer()" class="navbar-brand cl-text-black float-right cl-icon-padding">
      <i class="fas fa-check"></i>
    </span>
  </div>
</nav>


<div class="container">
  <div *ngIf="errorFlag" class="alert alert-danger">
    {{errorMsg}}
  </div>
  <form>
    <div class="form-group">
      <label for="answer-description">Your Answer</label>
      <textarea [(ngModel)]="answer.detail" name="answer-description" id="answer-description" class="form-control" rows="5"
                placeholder="In my opinion...."  required #answerContent="ngModel"></textarea>
    </div>
    <span class="help-block" *ngIf="!answerContent.valid && answerContent.touched">
          Please enter your answer!
    </span>
  <a class="btn btn-danger  btn-block" (click)="DeleteAnswer()" routerLink="/question/{{qid}}/answer">Delete</a>
    </form>

</div>

<nav class="navbar fixed-bottom cl-grey-navbar">
  <div class="container-fluid justify-content-end">
    <a routerLink="/profile" class="navbar-brand cl-icon-padding cl-text-blue">
      <span class="fas fa-user"></span>
    </a>
  </div>
</nav>
