
<div class="homepage">
  <h1>Welcome to NEU-StackOverFlow</h1>
  <form #inputForm="ngForm">
    <div class="form-group">
      <a routerLink="/login" class="btn btn-primary">Login</a>
    </div>

    <div class="form-group">
      <a routerLink="/register" class="btn btn-success">Register</a>
    </div>

    <div class="form-group">
      <a routerLink="/registerAdmin" class="btn btn-warning">Register Admin</a>
    </div>
  </form>
</div>

<ul class="backimg">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
